{% extends 'base.html' %}

{% block content %}

<h1>Are you sure that you want to archive Exam</h1>
<form method='POST'> 
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='ARCHIVE' />

</form>
{% endblock %}
