{% extends 'base.html' %}

{% block content %}

<h1>Exam: {{ exam.name }}</h1>
<hx>Assigned:</hx>
<ul>
    {% for a in assignments %}
        <li>{{ a.user }}</li> 
    {% endfor %}
</ul>

<h1>Add task</h1>
<form method='POST'> 
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Save' />

</form>
{% endblock %}
