{% extends 'base.html' %}

{% block content %}
<h1>Exam: {{ exam.name }}</h1>
<hx>Questions:</hx>
<ul>
    {% for t in tasks %}
        <li>Tasks: {{ forloop.counter }}</li>
            <ul>
                <li>{{ t.task }}</li>
                <li>Max score: {{ t.score }}</li>
            </ul>
        </li>
    {% endfor %}
</ul>

<h1>Add task</h1>
<form method='POST'> 
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Save' />
</form>
{% endblock %}
