{% extends 'base.html' %}

{% block content %}
<h1>Add new exam:</h1>
<form method='POST'> {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Save' />
</form>
<hx>Exams:</hx>
<ul>
    {% for e in exams %}
        <li><a href="{{ e.absoluteURL }}">{{ e.name }}</a> 
            <a href="{{ e.assignURL }}">assign</a>
            <a href="{{ e.archiveURL }}">ARCHIVE</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
