<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'exams:exams-list' %}">Exams</a></li>
        <li><a href="{% url 'exams:assignments-list' %}">Assignments</a></li>
    </ul>
</nav>