{% extends 'base.html' %}

{% block content %}
<h1>Exam: {{ assignment.exam.name }}</h1>
<hx>Questions:</hx>
<ul>
    {% for s in solutions %}
        <li>Tasks: {{ forloop.counter }}</li>
            <ul>
                <li>Task: {{ s.task.task }}</li>
                <li>Solution: {{ s.solution }}</li>
                {% if not s.task.exam.archived and not s.assignment.completed %}
                    <li><a href="{{ s.editURL }}">EDIT</a></li>
                {% endif %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% if not assignment.completed %}
<a href="{{ assignment.completeURL }}">COMPLETE EXAM</a>
{% endif %}
{% endblock %}