{% extends 'base.html' %}

{% block content %}
<h1>Task: {{ solution.task.task }}</h1>
<h1>Solution:</h1>
<form method='POST'> 
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Save' />
</form>
{% endblock %}
