{% extends 'base.html' %}

{% block content %}
<h1>Assignments:</h1>
<ul>
    {% for a in assignments %}
        {% if not a.exam.archived and not a.completed %}
            <li>ACTIVE <a href="{{ a.absoluteURL }}">{{ a.exam.name }}</a> 
        {% elif not a.exam.archived and a.completed %}
            <li>COMPLETED <a href="{{ a.absoluteURL }}">{{ a.exam.name }}</a> 
        {% elif a.exam.archived %}
            <li>ARCHIVED <a href="{{ a.absoluteURL }}">{{ a.exam.name }}</a>
        {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}